Free Download	  License  
    Commercial and non-commercial use.
    Unlimited projects, worldwide, forever.
    This music is exclusive to FiftySounds.
    ATTRIBUTION IS REQUIRED. In order to use our music you must credit FiftySounds. Include this info in your project (copy & paste):
Track: Inner Light
Music by https://www.fiftysounds.com

